@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

nav {
    font-family: 'Caveat', cursive;
    background-color: #37393A;

	h4 {
		font-size: 2rem;
		color: #55868c;

		span {
            font-size: 1rem;
            color: #E5E5E5;
		}
	}

	a.nav-link {
		font-size: 1.5rem;

		b {
			color: #55868c;
		}
	}
}

.navbar-light .navbar-toggler {
	background-color: #E5E7E6;
}

@media screen and (min-width: 768px) {
	nav {
		h4 {
			font-size: 2rem;

			span {
				font-size: 1.5rem;
			}
		}

		a.nav-link {
			font-size: 1.5rem;
		}
	}
}

@media screen and (min-width: 1440px) {
    nav {
		h4 {
			font-size: 2.5rem;

			span {
				font-size: 1.5rem;
			}
		}

		a.nav-link {
			font-size: 2rem;
		}
	}
}
