@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

nav {
	font-family: 'Quicksand', sans-serif;
    background-color: #FFFCF7;

	h4 {
		font-size: 1.5rem;
		color: #55868c;

		span {
            font-size: 1rem;
            color: #050609;
		}
	}

	a.nav-link {
		font-size: 1rem;

		b {
			color: #55868c;
		}
	}
}

.navbar-light .navbar-toggler {
	background-color: #E5E7E6;
}

@media screen and (min-width: 768px) {
	nav {
		h4 {
			// font-size: 2rem;

			span {
				// font-size: 1.5rem;
			}
		}

		a.nav-link {
			// font-size: 1.5rem;
		}
	}
}

@media screen and (min-width: 1440px) {
    nav {
		h4 {
			// font-size: 2.5rem;

			span {
				// font-size: 1.5rem;
			}
		}

		a.nav-link {
			// font-size: 2rem;
		}
	}
}
