@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

h3 {
	font-family: 'Kaushan Script', cursive;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 20px 10px 20px;

    p {
        margin: 0;
        font-family: 'PT Sans', sans-serif;
        font-size: 1em;
    }
}

@media screen and (min-width:768px){
    h3 {
        font-size: 3em;
    }
}

@media screen and (min-width: 1024px){
    .skills {

        i {
            font-size: 4em;
        }

        svg {
            font-size: 4em;
        }
    }
}