@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

h3 {
	font-family: 'Kaushan Script', cursive;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 20px 10px 20px;

    div {
        margin: 8px;
    }

    p {
        margin: 0;
        font-family: 'PT Sans', sans-serif;
        font-size: 1em;
    }
}

.jake {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 10px 0 10px 0;
    padding: 10px;

    .pic {
        grid-column: 1 / 2;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat, repeat;
        height: 400px;
    }

    div {
        grid-column: 2 / 3;
        width: 100%;
    }
}

@media screen and (min-width:768px){
    h3 {
        font-size: 2em;
    }

    .jake {
        margin: 10px 20px 10px 20px;
    }
}

@media screen and (min-width: 1024px){
    .skills {

        i {
            font-size: 3em;
        }

        svg {
            font-size: 3em;
        }
    }
}