@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

h3 {
	font-family: 'Kaushan Script', cursive;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 50px 20px 50px 20px;

	div {
		margin: 8px;
	}

	p {
		margin: 0;
		font-family: 'PT Sans', sans-serif;
		font-size: 1em;
	}
}

.jake {
	display: grid;
	grid-template-columns: 1fr;
	margin: 10px 0 10px 0;
	padding: 10px;

	.pic {
		width: 100%;
		margin: 10px auto;

		img {
			width: 55%;
			border-radius: 60%;
		}
	}

	.jake-about {
		display: grid;
		font-family: 'Open Sans Condensed', sans-serif;
		color: white;

		.brand-statement {
			background-image: url('https://images.unsplash.com/photo-1548611635-b6e7827d7d4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
			background-repeat: no-repeat, repeat;
			background-size: cover;
			background-position: center;
			width: 390px;
			height: 125px;
			margin: 5px auto;
			opacity: 0.6;

			.about-title {
				transition: 0.5s ease;
				margin: 0 auto;
				position: relative;
				top: 20%;
				font-size: 3em;
				opacity: 1;
			}

			.about-hover {
				transition: 0.5s ease;
				margin: 0 auto;
				position: relative;
				top: -35%;
				opacity: 0;

				p {
					font-size: 1em;
				}
			}
		}

		.brand-statement:hover {
			.about-title {
				opacity: 0;
			}

			.about-hover {
				opacity: 1;
			}
		}

		.location {
			background-image: url('https://images.unsplash.com/photo-1540888513280-fac1aa56c69f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80');
			background-repeat: no-repeat, repeat;
			background-size: cover;
			background-position: center;
			width: 390px;
			height: 125px;
			margin: 5px auto;
			opacity: 0.6;

			.about-title {
				transition: 0.5s ease;
				margin: 0 auto;
				position: relative;
				top: 20%;
				font-size: 3em;
				opacity: 1;
			}

			.about-hover {
				transition: 0.5s ease;
				margin: 0 auto;
				position: relative;
				top: -35%;
				opacity: 0;

				p {
					font-size: 3em;
				}
			}
		}

		.location:hover {
			.about-title {
				opacity: 0;
			}

			.about-hover {
				opacity: 1;
			}
		}

		.hobbies {
			background-image: url('https://images.unsplash.com/photo-1538481199705-c710c4e965fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2032&q=80');
			background-repeat: no-repeat, repeat;
			background-size: cover;
			background-position: center;
			width: 390px;
			height: 125px;
			margin: 5px auto;
			opacity: 0.6;

			.about-title {
				transition: 0.5s ease;
				margin: 0 auto;
				position: relative;
				top: 15%;
				font-size: 3em;
				opacity: 1;
			}

			.about-hover {
				transition: 0.5s ease;
				margin: 0 auto;
				position: relative;
				top: -30%;
				opacity: 0;

				p {
					font-size: 2em;
				}
			}
		}

		.hobbies:hover {
			.about-title {
				opacity: 0;
			}

			.about-hover {
				opacity: 1;
			}
		}

		.education {
			background-image: url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1141&q=80');
			background-repeat: no-repeat, repeat;
			background-size: cover;
			background-position: center;
			width: 390px;
			height: 125px;
			margin: 5px auto;
			opacity: 0.6;

			.about-title {
				transition: 0.5s ease;
				margin: 0 auto;
				position: relative;
				top: 15%;
				font-size: 3em;
				opacity: 1;
			}

			.about-hover {
				transition: 0.5s ease;
				margin: 0 auto;
				position: relative;
				top: -55%;
				opacity: 0;

				p {
					font-size: 2em;
				}

				img {
					width: 30%;
				}
			}
		}

		.education:hover {
			.about-title {
				opacity: 0;
			}

			.about-hover {
				opacity: 1;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	h3 {
		font-size: 2em;
	}

	.jake {
		margin: 10px 20px 10px 20px;

		.jake-about {
			.brand-statement {
                width: 600px;
                
                .about-hover {
                    top: -50%;

                    p {
                        font-size: 1.5em;
                    }
                }
            }

            .location {
				width: 600px;
            }

            .hobbies {
				width: 600px;
            }

            .education {
                width: 600px;
                
                .about-hover {
                    display: flex;
                    justify-content: center;
                    top: -45%;

                    p {
                        position: relative;
                        padding-top: 20px;
                        margin-left: 10px;
                    }
                }
            }
		}
	}
}

@media screen and (min-width: 1024px) {
    .jake {
        grid-template-columns: 1fr 2fr;

        .pic {
            grid-column: 1 / 2;

            img {
                width: 100%;
                position: relative;
                top: 20%;
            }
        }

        .jake-about {
            grid-column: 2 / 3;

            .brand-statement {
                width: 500px;

                .about-hover {
                    top: -45%;

                    p {
                        font-size: 1.25em;
                    }
                }
            }

            .location {
                width: 500px;
            }

            .hobbies {
                width: 500px;
            }

            .education {
                width: 500px;
            }
        }
    }


	.skills {
		i {
			font-size: 3em;
		}

		svg {
			font-size: 3em;
		}
	}
}

@media screen and (min-width: 1440px) {
    .jake {
		margin: 40px 20px;
        .pic {
            img {
                top: 10%;
            }
        }

        .jake-about {
            grid-column: 2 / 3;

            .brand-statement {
                width: 700px;

                .about-hover {
                    top: -50%;

                    p {
                        font-size: 1.5em;
                    }
                }
            }

            .location {
                width: 700px;
            }

            .hobbies {
                width: 700px;
            }

            .education {
                width: 700px;

                .about-hover {
                    top: -50%;

                    p {
                        position: relative;
                        padding-top: 30px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
